*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root {
    --color01:rgb(239, 233, 233);
    --color02:rgb(255, 142, 161);
    --color03:rgb(57, 57, 57);
}
nav{
    position: fixed;
    top: 0;

    width: 100%;
    height: 10vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem 2rem;

}
h1{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    color:var( --color01)
}
h2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color01);
    letter-spacing: 2px;

}
/* ESTILOS DEL NAV */
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    list-style:none;

}
a{
    text-decoration: none;
    color: inherit;

}
nav a{
    color: var(--color01);
    font-size: 1.5rem;
    transition: .5s;

}
nav a:hover{
    color: var(--color03);


}
/* ESTILOS DEL HEADER */
#info_header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 400px;
    border-left: 2px solid var(--color01);
    padding-left: 2rem;
    
    color: var(--color01);
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 2rem;

    }
#info_header p{
font-size: 1.1rem;
line-height: 2rem;
letter-spacing: 1.5px;


}

.botton{
   background-color: var(--color01); 
   color: var(--color03);
   padding: 1rem 3rem;
   border-radius: 1.5rem;
   cursor: pointer;

}
.botton span{
    color: var(--color03);
    transition: .5s; 
}

.botton span:hover{
    color: var(--color02);
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
article{
    width: 100%;

}
#articulo_fortalezas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    transform: translate(-30px);


}
.fortalezas{
    
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1rem;

    text-align: center;



}
.fortalezas img{
    width: 100px;
    background-color: var(--color02);
    border-radius: 50%;
    padding: 12px;

}
.fortalezas h4 {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
    
/* articulo about */
 #articulo_about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
 }   

   



